{
  "presets": ["next/babel"],
  "plugins": [
    ["@emotion"],
    [
      "module-resolver",
      {
        "alias": {
          "components": "./components",
          "helpers": "./helpers",
          "hooks": "./hooks",
          "layouts": "./layouts",
          "pages": "./pages",
          "root": "./",
          "static": "./public/static",
          "stores": "./stores"
        }
      }
    ]
  ]
}
